body {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 1px;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

h1, h2, p {
	color: #fff;
}

$the-andrew-blue: #004e92;
$grey-light:darken(#fff, 13%);


@mixin transition{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}


header {
	padding-top: 40px;
	// padding-bottom: 150px;
	background: url('../assets/images/backgrounds/bg.png') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;

	> div {
		position:relative;
		z-index:2;
	
		h1 {
			font-size: 60px;
			margin-bottom: 0;
		}
		h2 {
			font-size: 32px;
			margin: 0 0 20px 0;
		}
		p {
			font-family: 'Open Sans', sans-serif;
			&:last-of-type{
				padding-bottom: 20px;
			}
		}
		a {
			font-size: 18px;
			display: block;
			line-height: auto;
			margin-bottom: 10px;
			text-align: center;
			font-weight: 700;
			@include transition;
			color: #fff;
			&:hover,
			&:focus {
				text-decoration: none;
				color: #fff;
				~img {
					transform: scale(1.1);
				}
			}
		}
		img {
			height: 45px;
			width: 45px;
			margin: 0 auto;
			display: block;
			position: relative;
			z-index: 2;
			@include transition;
		}
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
		position: absolute;

		// Google Pixel fix
		bottom: -1px;
		left: 0;
		z-index: 1;
	}
}

.gradient-wrapper{
	background: #1A2980;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #1A2980, #26D0CE);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #1A2980, #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-panel {
	padding-top: 40px;
	padding-bottom: 30px;
	position: relative;
	z-index:2;
	h3 {
		color: #fff;
		text-align: center;
	}
	p {
		color: #fff;
		text-align:center;
		font-family: 'Open Sans', sans-serif;
	}
	img {
		height: 50px;
		width: 50px;
		margin: 0 auto;
		display: block;
	}
}

.projects-panel {
	padding-top: 35px;
	position: relative;
	h3 {
		color: #fff;
		height: 60px;
		text-align: left;
	}

	p{
		font-family: 'Open Sans', sans-serif;
		&.subtitle{
			color:$grey-light;
		}
	}

	h2{
		color:#fff;
		margin-bottom:5px;
	}

	.project-app{
		margin-bottom:45px;
	}
	
	.phone {
		// background: url('./images/assets/iphone.png') no-repeat center center;
		background-size: cover;
		height: 400px;
		position: relative;
		z-index: 2;
		margin-bottom:25px;
	}

	img {
		margin:25px auto;
		margin-bottom:15px;
		@include transition;
		&:hover,&:focus{
			transform:scale(1.1);
			margin-bottom:25px;
		}
	}

	.app-description{
		margin-top:50px;
		
		h3{
			height:auto;
			color:#fff;
			font-size:23px;
			
			img{
				height:40px;
				margin-bottom:20px;
				&:hover,&:focus{
					transform:scale(1.1);
					margin-bottom:20px;
				}
			}
		}
		p{
			color:#fff;
		}

		
		a{
			color:darken(#fff, 20%);
		}

		h6{
			color:$grey-light;
			margin-bottom:20px;
			font-size:18px;
			
		}

		.mobile-features{
			color:#fff;
			padding-left:15px;
		}
	}

	.project-caption{
		color:#fff;
		font-size:12px;
		font-weight:200;
		text-align:center;
		a{
			color:darken(#fff, 20%);
		}

		span{
			font-family: 'Ubuntu', sans-serif;
			font-size:19px;
			font-weight:500;
		}
	}
}

.skills-panel {
	padding-bottom: 20px;

	h2{
		margin-bottom:5px;
	}

	h2,h3,p {
		color: #fff;
	}


	ul{
		li{
			color: #fff;
			margin-bottom:8px;
			font-size:14px;
		}
		li, span{
			@include transition;
		}
	}

	p{
		font-family: 'Open Sans', sans-serif;
		&.subtitle{
			color:$grey-light;
		}
	}

	&.front-end, &.back-end{
		ul {
			li {
				font-family: 'Open Sans', sans-serif;
				span {
					background:url('../assets/images/icons/thumbs-up-white.png') no-repeat bottom left;
					background-size:contain;
					height:15px;
					width:15px;
					display:inline-block;
					padding-left:25px;
				}
	
				&:hover,&:focus {
					span{
						transform: translate(3px,0px);
					}
				}
			}
	
			&.sub-experience{
				li{
					span{
						background:url('../assets/images/icons/star-white.png') no-repeat bottom left;
						background-size:contain;
					}
		
					&:hover,&:focus{
						span{
							transform: translate(3px,0px);
						}
					}
				}
			}
		}
		img{
			margin:25px auto;
			margin-bottom:15px;

			@include transition;
			&:hover,&:focus{
				transform:scale(1.1);
				margin-bottom:25px;
			}
		}
		.project-caption{
			color:#fff;
			font-size:12px;
			font-weight:200;
			margin-bottom:20px;
			a{
				color:darken(#fff, 20%);
			}
			span{
				font-family: 'Ubuntu', sans-serif;
				font-size:19px;
				font-weight:500;
			}
		}
	}

	
	&.front-end {
		position: relative;
		z-index:2;
	}
	&.back-end {

	}
	&.university {

		position:relative;
        z-index:1;
        
        h4{
            color:$grey-light;
        }

		h3{
			color:$the-andrew-blue;
			margin-bottom:15px;
			text-align:center;
		
			&.placement{
				margin-bottom:5px;
			}
		}

		.placement-text-wrapper{
			img{
				height:50px;
				margin:0 auto;
				display:block;
			}
		}

		p{
			&.subtitle{
				color:$grey-light;
				text-align:center;
			}
		}

		ul{
			li{
				margin-bottom:10px;
				text-align:center;
				font-family: 'Open Sans', sans-serif;
				&:hover, &:focus{
					span{
						transform:scale(1.3);
						font-weight:bold;
					}
				}
				span{
					padding-left:2px;
					display:inline-block;
				}
			}
		}
	}

	&.projects{

		.subtitle{
			margin-bottom:30px;
		}
		.card{
			background: url('../assets/images/backgrounds/bg.png') no-repeat center center;
			background-attachment: fixed;
			background-size:250%;

			// Fix for flickering background
			transform: translateZ(0);-webkit-transform: translateZ(0);
			
			border-radius:18px;
			padding:18px;
			box-shadow: 0 8px 14px rgba(0,0,0,.09), 0 4px 6px rgba(0,0,0,.09);
			@include transition;
			height:260px;
			margin-bottom:35px;
			position:relative;

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
				position: absolute;
				bottom: 0;
				left: 0;
				border-radius:18px;
				z-index: 1;
			}
			
			&:hover,&:focus{
				box-shadow: 0 18px 34px rgba(0,0,0,.09), 0 8px 14px rgba(0,0,0,.09);
				transform:scale(1.04);
			}
			h3,p{
				color:#fff;
				position:relative;
				z-index:3;
			}
	
			h3{
				font-size:18px;
				margin-top:0;
				font-weight:bold;
			}

			p{
				a{
					color:darken(#fff, 20%);
				}
			}

			
	
		}
	}
	
	&.contact {
		position:relative;
		z-index:1;
		padding-bottom:50px;
		p a {
			color: $grey-light;
			font-weight: 800;
			font-size:12px;

			@include transition;
			&:hover,&:focus{
				text-decoration:none;
				color:$the-andrew-blue;
			}
		}

		h2{
			margin-bottom:5px;
			img{
				width: 35px;
				height: 35px;
				animation: wave 0.5s ease 0.8s 3;
			}
		}
		
		.social{
			a{
				display:inline-block;
				img{
					width:30px;
					margin-right:10px;
					@include transition;
				
					&:hover,&:focus{
						transform:scale(1.10);
					}
				}
			}
		}

		.blog-content{
			a{
				display:block;
				margin-bottom:10px;
				
				&.blog-link{
					font-size:12px;
					color: $grey-light;
					font-family: 'Open Sans', sans-serif;
					@include transition;
					&:hover,&:focus{
						text-decoration:none;
						color:$the-andrew-blue;
					}
				}
			}
		}

		#blog-wrapper{
			background-color:$the-andrew-blue;
			background: url('../assets/images/backgrounds/bg.png') no-repeat center center;
			// Fix for flickering background
			transform: translateZ(0);-webkit-transform: translateZ(0);
			background-attachment: fixed;
			background-size:250%;
			position: relative;
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
				position: absolute;
				bottom: 0;
				left: 0;
				border-radius:18px;
				z-index: 1;
			}


			border-radius:18px;
			padding:18px;
			box-shadow: 0 8px 14px rgba(0,0,0,.09), 0 4px 6px rgba(0,0,0,.09);
			
			h4,a,span,h4 a, p{
				z-index:3;
				position:relative;
			}

			h4{

				margin-bottom:0;
				a{
					margin-bottom:5px;
					color:#fff;
					@include transition;
					&:hover,&:focus{
						text-decoration:none;
						color:darken(#fff, 20%);
						cursor:pointer;
					}
				}
			}
			span{
				font-size:12px;
				display:block;
				margin:5px 0;
				color:$grey-light;
				padding-bottom:10px;
				border-bottom:1px solid #fff;
				font-family: 'Open Sans', sans-serif;
			}

			a{
				@include transition;
				color:$grey-light;

				&:hover,&:focus{
					text-decoration:none;
					color:$the-andrew-blue;
					cursor:pointer;
				}
			}

			*{
				color:#fff;
			}
		}
	}

	&.photography {

		h2{
			margin-bottom:10px;
		}
		iframe{
			width:100% !important;
			// height:550px !important;
		}
		
		.flickr-embed .flickr-embed-photo{
			margin:0 auto;
		}

		p a{
			@include transition;
			&:hover,&:focus{
				color:$the-andrew-blue;
				text-decoration:none;
			}
		}
	}
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.technologies {
		@include on-circle($item-count: 7, $circle-size: 20em, $item-size: 6em); 
		margin: 4em auto 0;
		
		img { 
			display: block; 
			max-width: 100%; 
			border-radius: 50%;
			padding:5px;
			border: solid 5px #fff;
			transition: .15s;
		}
	}

footer{
	background-color:#26D0CE;
	padding-top:12px;
	padding-bottom:12px;

	p,p a{
		color:#fff;
		margin:0;
		font-size:14px;
		display:block;
		font-family: 'Open Sans', sans-serif;
	}
	
	span{
		font-size:12px;
	}

	p a{
		margin-top:0;
		@include transition;
		&:hover,&:focus{
			color:$the-andrew-blue;
			text-decoration:none;
		}
	}
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .projects-panel{
        padding-top:0;

        h2{
            text-align:center;
        }

        p{
            &.subtitle{
                text-align: center;
            }
        }

        .app-description{
            margin-top:0;
        }
    }
    
    .skills-panel{
        h2{
            text-align:center;
        }

        p{
            &.subtitle{
                text-align: center;
            }
        }
        &.university{
            .card{
                height:200px;
            }
        }
    }

    .contact{
        .social{
            width:217px;
            margin:0 auto;
            p{
                text-align:center;
            }
        }

        .blog-content{
            a{
                text-align:center;
            }

            #blog-wrapper{
                a{
                    text-align:left;
                }
            }
        }
        
    }

}

@media screen and (max-width: 767px) {
    header {
       #phone-wrapper{
           padding-top:30px;
           padding-bottom:30px;
       }
    }

    .about-panel{
        padding-top:25px;
        padding-bottom:0;
        h3{
            height:auto;
        }

        p{
            margin-bottom:35px;
        }
    }

    .projects-panel{
        padding-top:0;

        h2{
            text-align:center;
        }

        p{
            &.subtitle{
                text-align: center;
            }
        }

        .app-description{
            margin-top:0;
        }
    }

    .skills-panel{
        padding-top:0;

        h3{
            text-align:left;
        }

        h2{
            text-align:center;
        }

        p{
            &.subtitle{
                text-align: center;
            }
        }
        
        
        &.front-end{
            ul{
                li{
                    text-align:left;
                }
            }
        }

        &.projects{
            .card{
                height:auto;
                padding-bottom:30px;
            }
        }

        &.photography {
            iframe{
                height:330px !important;
            }
        }

        &.contact{
            h2{
                text-align:center;
            }
            
            .social{
                width:217px; 
                margin:0 auto;
                p{
                    text-align:center;
                }
            }
    
            .blog-content{
                a{
                    text-align:center;
                }
    
                #blog-wrapper{
                    a{
                        text-align:left;
                    }
                }
            }
        }
    }

    .project-caption{
        text-align:center; 
    }
}